/* body modification*/
body{
    background-color: #DE3C4B;
  
    padding: 2.5px;
}

/* a modification */
a, a:hover, a:active, a:visited {
    color: white; 
}

/* mainFrame class*/
.mainFrame{
    background-color: #292F36;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;

    padding: 5px;

}

/* bluediv class*/
.bluediv{
    text-align: center;
    background-color: #2088cb;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;

    padding: 10px;

    flex-grow: 1;
}

/* h1 modification*/
h1 {
    background-color: #DE3C4B;
    color: white;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

/* h2 modification*/
h2 {
    background-color: #DE3C4B;
    color: white;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
}

/* p modification */
p{
    background: #DE3C4B;
    color: white;

    font-size: larger;

    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;

    padding: 5px;
}

/* itemContainer class */
.itemContainer{
    display: flex;
}

/* item class */
.item{
    text-align: center;
    
    order: 0;
    flex-grow: 1;
}

